*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.firs{
    border: 1px solid #39323E;
    background-color: #39323E;
    /* border-top: none; */
    padding: 1px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.secc{
  background-color: #16171D;
  border: 1px solid #16171D;
  border-top: none;
  -webkit-clip-path: polygon(
    4px 0, calc(100% - 4px) 0, 100% 4px, 100% calc(100% - 4px),
    calc(100% - 4px) 100%, 4px 100%, 0 calc(100% - 4px), 0 4px
  );
  clip-path: polygon(
    0px 0, calc(100% - 4px) 0, 100% 0px, 100% calc(100% - 4px),
    calc(100% - 4px) 100%, 4px 100%, 0 calc(100% - 4px), 0 4px
  );
}

.secc li a{
    color: white;
    font-size: 13px;
    /* margin-left: 5px; */
}

.secc li a:hover{
    color: #9253FF;
}


.seccc{
  background-color: #16171D;
  border: 1px solid #16171D;
  border-top: none;
  -webkit-clip-path: polygon(
    4px 0, calc(100% - 4px) 0, 100% 4px, 100% calc(100% - 4px),
    calc(100% - 4px) 100%, 4px 100%, 0 calc(100% - 4px), 0 4px
  );
  clip-path: polygon(
    4px 0, calc(100% - 4px) 0, 100% 4px, 100% calc(100% - 4px),
    calc(100% - 4px) 100%, 4px 100%, 0 calc(100% - 4px), 0 4px
  );
}

.seccc1{
  background-color: #16171D;
  border: 1px solid #16171D;
  border-top: none;
  -webkit-clip-path: polygon(
    4px 0, calc(100% - 4px) 0, 100% 4px, 100% calc(100% - 4px),
    calc(100% - 4px) 100%, 4px 100%, 0 calc(100% - 4px), 0 4px
  );
  clip-path: polygon(
    4px 0, calc(100% - 4px) 0, 100% 0px, 100% calc(100% - 4px),
    calc(100% - 0px) 100%, 4px 100%, 0 calc(100% - 4px), 0 4px
  );
}

.seccc2{
  background-color: #16171D;
  border: 1px solid #16171D;
  border-top: none;
  -webkit-clip-path: polygon(
    4px 0, calc(100% - 4px) 0, 100% 4px, 100% calc(100% - 4px),
    calc(100% - 4px) 100%, 4px 100%, 0 calc(100% - 4px), 0 4px
  );
  clip-path: polygon(
    0px 0, calc(100% - 4px) 0, 100% 4px, 100% calc(100% - 4px),
    calc(100% - 4px) 100%, 0px 100%, 0 calc(100% - 4px), 0 4px
  );
}

.section2{
  background-color: #39323E;
  border: none;
}

.vite-btn{
  padding: 5px;
  width: 25%;
  color: white;
  text-decoration: none;
  background-image: url(./media/vite-featurepanel-1-background.BHnDg8j4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  text-align: center;
  font-size: 12px;
}

.but1{
  font-size: 10px;
  border: 1px solid #39323E;
  color: white;
  background-color: transparent;
  padding: 5px;
  border-radius: 5px;
  width: 25%;
  text-align: center;
}

.secccgo{
  background-color: #16171D;
  border: 1px solid #16171D;
  border-top: none;
  -webkit-clip-path: polygon(
  4px 0, calc(100% - 4px) 0, 100% 4px, 100% calc(100% - 4px),
  calc(100% - 4px) 100%, 4px 100%, 0 calc(100% - 4px), 0 4px
  );
  clip-path: polygon(
    4px 0, calc(100% - 4px) 0, 100% 4px, 100% calc(100% - 4px),
    calc(100% - 4px) 100%, 4px 100%, 0 calc(100% - 4px), 0 4px
  );
}

/* .secc{
   width: 100%;
    flex-direction: row;
    display: flex;
    height: 60px;
}

.ii{
    /* border-right: 1px solid red; */
    /* height: 50px;
    width: 20%;
    display: flex;
    justify-content: center;
} */ */




